option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: crm.settings
    "PYTHONPATH": "/opt/python/current/app:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: crm/wsgi.py

container_commands:
  01migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
